<section class = "info">

  <h1>Favorites</h1>
  
  <h2><%= link_to "Adopt a Pet", "/apps/new" if favorite.contents.present? %></h2>
  <section class = "all-pets">
    <% @pets.each do |pet| %>
    <section class = "pet-info">
      <%= link_to "Remove From Favorites", "/favorites/#{pet.id}", method: :delete, id: "favorite-#{pet.id}" %>
      <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
      <%= image_tag "#{pet.image}" %>
    </section>
    <% end %>
  </section>

</section>
